* {padding: 0; margin: 0;}
        a{text-decoration: none;}
        .wrap {
            background: rgba(238, 238, 238, 0.8); 
            width: 800px; 
            text-align:start; 
            padding: 40px 40px 10px; margin: 45px auto 0; overflow: hidden;
            -moz-border-radius: 9px ;
            border-radius: 9px ;
            -o-box-shadow: 0 5px 5px #333333 ;
            -webkit-box-shadow: 0 5px 5px #333333 ;
            -moz-box-shadow: 0 5px 5px #333333 ;
            box-shadow: 0 5px 5px #333333 ;

        }
        body{
            background-image:url(../../genshin/琴.png),url(../../genshin/散兵.png);
            background-position: right bottom,left bottom;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 45% 45%,45% 45%;
        }
