body{
            background-image:url(../genshin/水神.png),url(../genshin/万叶.png);
            background-position: right bottom,left bottom;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 45% 45%,45% 45%;
        }   
        .wrap {background: rgba(0, 0, 0, 0.1); width: 1280px; height:auto;  text-align: center; padding: 40px 20px 10px; margin: 45px auto 0; overflow: hidden;}
